# Dependencies
node_modules/
backend/go.work
bin/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Go
/backend/bin/

# SQLite database
backend/quizzix.db
*.db